{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Grupos</h1>
          <p>Creación, modifición, eliminación y listado</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
    </div>
    <div class="tile mb-4" id="grupos">
        <div class="tile-title-w-btn">
            <h3 class="title">Listado</h3>
            <p v-if="tipo != 'grupos_update'">
                  <a
                      class="btn btn-info icon-btn"
                      href="#"
                      @click="addGrupos(true)"
                  >
                      <i class="fa fa-plus"></i>Nuevo Grupos
                  </a>
            </p>
        </div>
        <!-- <div class="form-inline form-group">
            <label>Search:</label>
            <input v-model="filterText" class="form-control" @keyup.enter="onFilterSet" placeholder="Ticket number, reasons, car name and more.">
            <button class="btn btn-primary" @click="onFilterSet">Go</button>
            <button class="btn btn-default" @click="onFilterReset">Reset</button>
        </div> -->
        <div class="row">
            <vuetable
                v-if="!showGrupos"
                ref="vuetableGrupos"
                api-url="{% url 'grupos_list' %}"
                :fields="fieldes"
                :sort-order="sortOrder"
                :css="css.table"
                pagination-path=""
                :per-page="25"
                :append-params="moreParams"
                @vuetable:pagination-data="onPaginationData"
                @vuetable:loading="onLoading"
                @vuetable:loaded="onLoaded">

                <template slot="actions" slot-scope="props">
                   <div class="table-button-container">
                      <button class="btn btn-outline-primary btn-sm" data-toggle="modal"
                         data-target="#addomplejo" @click="editRow(props.rowData)">
                         <span class="fa fa-lg fa-edit"></span> Editar
                      </button>&nbsp;&nbsp;
                      <button class="btn btn-danger btn-sm" @click="deleteRow(props.rowData)">
                        <span class="fa fa-lg fa-trash"></span> Eliminar
                      </button>&nbsp;&nbsp;
                  </div>
                </template>
            </vuetable>
            <vuetable-pagination v-if="!showGrupos" ref="paginationGrupos"
              :css="css.pagination"
              @vuetable-pagination:change-page="onChangePage"
            ></vuetable-pagination>
        </div>


        <div class="col-md-10">
            <grupos_action
                v-if="showGrupos"
                :tipo="tipo"
                :titulo_new="titulo"
                :id_update="id_update"
                @close="show_grupos(false)"
            ></grupos_action>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static '/js/plugins/vue-select.js' %}"></script>
    <script src="{% static '/js/plugins/vue-bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static '/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/js/vue-table.js' %}"></script>
    <script src="{% static '/js/configuracion_general/grupos.js' %}"></script>
{% endblock javascripts %}