{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Turnos</h1>
          <p>Creación, modifición, eliminación y listado</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
    </div>
    <div class="tile mb-4" id="starting">
        <div class="tile-title-w-btn">
          <h3 class="title">Listado</h3>
          <p>
              <a
                  data-toggle="modal"
                  data-target="#addTurno"
                  class="btn btn-primary icon-btn"
                  href="#" >
                  <i class="fa fa-file"></i>Nuevo Turno
              </a>
          </p>
        </div>
        <!-- Add Article Modal -->
        <div class="modal fade" id="addTurno" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">

                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Agregar Turno</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="addTurno()">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="Turno_last_name" class="col-md-2">Nombre</label>
                            <div class="col-md-10">
                                <input
                                    type="text"
                                    class="form-control"
                                    id="turno_nombre"
                                    placeholder="Enter Nombre"
                                    v-model="newTurno.nombre"
                                    required="required" >
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static '/js/configuracion_general/turno.js' %}"></script>
{% endblock javascripts %}