{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}

    <div class="app-title">
        <div>
          <h1><i class="fa fa-list-ul"></i> Listado Presentes</h1>
          <p>Se toma la lista de los alumnos presente según el grupo</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
    </div>

    <div class="row" id="listado_pagos"  >
         <div class="tile" v-if="tipo != 'pago_update'">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" @click="filter_mes('01')" href="#home">Enero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('02')" href="#home">Febrero</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('03')" href="#home">Marzo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('04')" href="#home">Abril</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('05')" href="#home">Mayo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('06')" href="#home">Junio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('07')" href="#home">Julio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('08')" href="#home">Agosto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('09')" href="#home">Septiembre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('10')" href="#home">Octubre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('11')" href="#home">Noviembre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" @click="filter_mes('12')" href="#home">Diciembre</a>
                </li>
            </ul>


            <div class="tab-content">
                <div id="home" class="tab-pane active"><br>

                    <div class="tile mb-4" >
                    <div class="tile-title-w-btn">
                        <h3 class="title">Listado</h3>
                        <p v-if="tipo != 'pago_update'">
                              <a
                                  class="btn btn-info icon-btn"
                                  href="#"
                                  data-toggle="modal"
                                  data-target="#select_alumnos"
                                  @click="show_alumnos(true)"
                              >
                                  <i class="fa fa-plus"></i>Alta de Pagos
                              </a>
                        </p>
                    </div>
                        <template >
                            <vuetable
                             ref="vuetable"
                             v-if="showTablaPago2"
                             :api-mode="false"
                             :fields="fieldes"
                             :tableData="localData"
                             :data-total="totalpage"
                             :data-manager="dataManager"
                             data-path="data"
                             pagination-path="pagination"
                             @vuetable:loading="onLoading2"
                             @vuetable:loaded="onLoaded2"
                             vuetable-pagination:change-page
                             :per-page="4"
                             :css="css.table"
                             @vuetable:pagination-data="onPaginationData2">
                             <template slot="actions" slot-scope="props">
                                <div class="table-button-container">
                                   <a class="btn-outline-primary " href="#"

                                      data-toggle="tooltip" title="Editar Pago"
                                      @click="editRow(props.rowData)"
                                   >
                                       <i class="fa fa-lg fa-edit"></i>
                                   </a>
                                   <a class="btn-outline-info  btn-info"
                                        v-if="props.rowData.count_facturas > 0"
                                        href="#" data-toggle="tooltip" title="Registrar Pago"
                                        >
                                       <i class="fa fa-lg fa-address-card"></i>
                                   </a>
                                    <a class="btn-outline-danger  btn-danger"
                                        v-if="props.rowData.count_facturas == 0"
                                        @click="editDeletePago(props.rowData.id)"
                                        href="#" data-toggle="tooltip" title="Eliminar Pago"
                                        >
                                       <i class="fa fa-lg fa-trash"></i>
                                   </a>


                                </div>
                            </template>
                        </vuetable>

                            <vuetable-pagination ref="pagination" v-if="showTablaPago2"
                                             :css="css.pagination"
                                             @vuetable-pagination:change-page="onChangePage2">
                        </vuetable-pagination>

                        </template>


                        <br>


                    </div>
                </div>

            </div>
        </div>
        <input type="hidden" id="alumno_url" value="{% url 'alumno_list' %}">
        <seleccion_alumno
            :show="showSelectAlumnos"
            @alumno_select="show_cuota">
        </seleccion_alumno>

        <pagos_action
                            v-if="showPagos"
                            :data_alumno="dataAlumno"
                            :tipo="tipo"
                            :titulo_new="titulo"
                            :id_update="id_update"
                            @close="show_pagos(false)"
                        ></pagos_action>
    </div>



{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static '/js/plugins/vue-select.js' %}"></script>
    <script src="{% static '/js/plugins/vue-bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static '/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/js/plugins/printThis.js' %}"></script>
    <script src="{% static '/js/plugins/lodash.min.js' %}"></script>
    <script src="{% static '/js/vue-table.js' %}"></script>
    <script src="{% static '/js/general/lista_pagos.js' %}"></script>


{% endblock javascripts %}