
{% load staticfiles %}
{% load crispy_forms_tags %}
<html>
<head>
    <meta name="description" content="">

    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Sistema Natagua">
    <meta property="og:title" content="Sistema Natagua">
    <title>Sistema Natagua</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="logo">
            <h1>Natagua</h1>
        </div>
        <div class="login-box">


            <form class="login-form" action='.' method='post'>
                {% csrf_token %}
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Ingrese</h3>
                <div class="form-group">
                    <!-- <input class="form-control" type="text" placeholder="Email" autofocus> -->
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group">
                    <!-- <input class="form-control" type="password" placeholder="Password"> -->
                    {{ form.password|as_crispy_field }}
                </div>
                <!-- <div class="form-group">
                    <div class="utility">
                        <div class="animated-checkbox">
                          <label>
                              <input type="checkbox"><span class="label-text">Stay Signed in</span>
                          </label>
                        </div>
                        <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
                    </div>
                </div> -->
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Ingresar</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
                {% if form.errors %}
                    <p>Tu nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
                {% endif %}
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Tu cuenta no tiene acceso a esta página. Para proceder, Por favor inicie sesión con una cuenta que tenga acceso..</p>
                    {% endif %}
                {% endif %}

            </form>


          <form class="forget-form" action="index.html">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
          <div class="form-group">
            <label class="control-label">EMAIL</label>
            <input class="form-control" type="text" placeholder="Email">
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-unlock fa-lg fa-fw"></i>RESET</button>
          </div>
          <div class="form-group mt-3">
            <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back to Login</a></p>
          </div>
        </form>
      </div>
    </section>
    <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>


    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static '/js/plugins/pace.min.js' %}"></script>
    <!-- Page specific javascripts-->
    <script src="{% static '/js/plugins/chart.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static '/js/plugins/pace.min.js' %}"></script>
    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
    </script>
  </body>
</html>